<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

    {% include header.html %}

        <!-- Visualizer container and menu -->
<div id="visualizer-container">
    <div id="visualizer"></div>
    <div id="menu"></div>
</div>

    <main class="page-content" aria-label="Content">
        {{ content }}

        
    </main>




    {% include footer.html %}

        <!-- JavaScript files -->
        <script type="importmap">
            {
                "imports": {
                    "three": "https://unpkg.com/three/build/three.module.js",
                    "OrbitControls": "https://unpkg.com/three/examples/jsm/controls/OrbitControls.js",
                    "d3": "https://cdn.jsdelivr.net/npm/d3@7/+esm"
                }
            }
        </script>
        <script type="module" src="{{ '/scripts/visualize.js' | relative_url }}"></script>

</body>
</html>